/* 
    Document   : layout
    Created on : 10/03/2013, 11:13:59 AM
    Author     : Joe Robles <joe.robles.pdj@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/
*
{
    margin: 0;
    padding: 0;
}