/* 
    Document   : sprites
    Created on : 10/03/2013, 11:14:10 AM
    Author     : Joe Robles <joe.robles.pdj@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

